:root {
    --clr-VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

    --clr-TextSelection: hsl(40, 100%, 69%);
}

*,
*::before,
*::after {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
  
}

h2, h3{
    color: var(--clr-VeryDarkGrayishBlue);
}

p{
    color: var(--DesaturatedDarkBlue);
}

html, body{
    min-height: 100%;
}

html {
    font-size: 81.25%;
    /*13px root size*/
    /* 13px / 16px * 100 = 81.25% */
}

body {
    height: 140vh;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /*500 & 700*/
    font-style: normal;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
}

.container{
    /* width: 90%; */
    max-width: 350px;
    
}

.main-card{
    border-radius: 10px;
    background-color: white;
    position: relative;
}


.image-wrapper{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-wrapper img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.5s ease;
} 

.main-card:hover .image-wrapper img{
    transform: scale(1.1);
}

.card-info{
    padding-inline: 32px;
    padding-top: 44px;
    padding-bottom: 24px;
}

.card-info h2{
    cursor: pointer;
}



.card-info .main-text{
    padding-top: 24px;
    padding-bottom: 36px;
    line-height: 1.6;
}

.main-text::selection, .share-icons p::selection{
    background: var(--clr-TextSelection);
    color: black;
  }


.avatar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-img-text{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.avatar-img-text img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-info{
    margin-left: 20px;
}

.avatar-icon, .avatar-icon-active{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LightGrayishBlue);
    cursor: pointer;
    transition: .05s ease;
}

.avatar-icon-active img{
    color: white;
}


.avatar-info:hover, .card-info h2:hover{
    filter: invert(1);
}

.avatar-icon img, .avatar-icon-active img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

/* .avatar-icon img:hover, .avatar-icon-active img:hover{
    opacity: 0.75;
} */

.avatar-icon:hover, .avatar-icon-active:hover{
    opacity: 0.75;
}

.avatar-share{
    background-color: var(--clr-VeryDarkGrayishBlue);
    position: absolute;
    
    transition: .3s ease;
    transform: scale(0);
    
    bottom: 0;
    width: 100%;transform-origin: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px;
    padding-inline: 32px;
    border-radius: 0 0 10px 10px;
    display: block;
}


.scale-1{
    transform: scale(1);
}



.share-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lime; */
    width: 70%;
}

.share-icons p{
    text-transform: uppercase;
    color: var(--GrayishBlue);
    letter-spacing: 2px;
}

.share-icons img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.share-icons img:hover{
    opacity: 0.75;
}

/* 
.display{
    display: block;
} */




